<!--マイページ　編集、削除ボタンとかはなし。-->

<!--ここから-->
<h1>Books</h1>
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
<!--投稿ユーザー画像入れるとこ　5章参照-->
</div>
<!--ここまでいらん-->

<% @books.each do |book| %>
<div>
<!--投稿ユーザー画像入れるとこ　5章参照-->
  <p><%= book.user.name %></p>
  <p><%= book.title %></p>
  <p><%= book.body %></p>
</div>
<% end %>